body{
  margin: 0px;
  padding: 0px;
}


h1,
p {
  font-family: Lato;
}

.biocard {
  width: 500px;
}
.contactcard {
  width: 400px;
}


.aman{
  height:300px;
  width: 300px;
}

.foot{
  height:40px;
}
